.header{
    text-align: center;
}
.header img{
    height: 80px;
}
nav{
    background-color: #000;
    line-height: 40px;
}
nav a{
    text-decoration:none;
    padding: 8px;
    color: #fff;
}
nav a:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}